@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}


* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.cv {
    width: 1160px;
    background: white;
    margin: 40px auto;
}

h1, h2, h3 {
    font-family: 'Lato', sans-serif;
}

.cv-body {
    display: flex;
}


.cv-sidebar {
    width: 30%;
    background-color: #eeeeee;
    padding: 20px;
}


.cv-content {
    width: 70%;
    padding: 20px;
}